/* body{
    margin: 0;
    padding: 0;
    background: #000;


} */

@import url('https://fonts.googleapis.com/css?family=Poppins:wght@500&display=swap&effect=shadow-multiple|fire-animation|anaglyph|neon|wallpaper|outline|3d-float|3d');
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');


 .shadow{
     position:relative;
    /* margin: 200px auto; */
    width: 650px;
    height: 550px;
    background: linear-gradient(0deg,rgb(29, 25, 70),#262626);
    
    display:inline-flex;
    margin-inline: 20px;
    margin-top: 50px;
    margin-right: 25px;
    
} 

.shadow:before,
.shadow:after{
    content: '';
    position:absolute;
    top:-2px;
    left: -2px;
    background: linear-gradient(45deg,#fb0094,#0000ff,#00ff00,#ffff00,#ff0000,#fb0094,#0000ff,#00ff00,#ffff00,#ff0000);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    
    animation: animate2 20s linear infinite;
}

.shadow:before{
    
    z-index:-1;
}
.shadow:after{
 
    z-index:-2;
    filter: blur(15px);
}


@keyframes animate2
{
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 300% 0;
    }
    100%{
        background-position: 0 0;
    }
}
 

 .shadowdiv{
     position: absolute;
     
     
     width:93vw ;
     height:87vh ;
     z-index:1;
     overflow: hidden;
     display: inline-flex;
     float: right;
     flex-shrink: inherit;
     box-sizing: border-box;
   
     justify-content: right;
     align-items: center;
     
 }
   
  .shadow span{

    color:white;
    font-family: cursive;
    
    letter-spacing: 2px;
    padding: 30px;
    font-size: 25px;
    align-items: center;
    justify-content: center;
    display:flex;
    line-height: 2.5rem;
  }
